  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">15 Mar 2021</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle dropdown-menu-right" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Eslam Elgedawy
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>
        </ul>
        <select #langSelect (change)="relaod(langSelect.value)" class="form-control" style="width: 120px;">
          <option 
              *ngFor="let lang of translate.getLangs()" 
              [value]="lang" 
              [selected]="lang === translate.currentLang"
          >
              {{ lang == 'ar' ? 'العربية': "English"  }}
          </option>
        </select>
      </div>
  </nav>

