<div class="add">
    <h1 class="pt-5 mb-4 title">{{ 'add.title' | translate }}</h1>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div *ngIf="submitted" class="alert alert-success alert-dismissible fade show" role="alert">
            Employee Added Successfully
            <button (click)= "closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlInput1">{{ 'add.form.name' | translate }}</label>
                    <input type="text" 
                    class="form-control" 
                    id="exampleFormControlInput1"
                    formControlName="name">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">{{ 'add.form.dept' | translate }}</label>
                    <select class="form-control" 
                    id="exampleFormControlSelect1"
                    formControlName="department">
                        <option value="HR">{{ 'add.form.hr' | translate }}</option>
                        <option value="IT">{{ 'add.form.it' | translate }}</option>
                        <option value="Sales">{{ 'add.form.sales' | translate }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="code">{{ 'add.form.code' | translate }}</label>
                    <input type="text" 
                    class="form-control"
                    id="code"
                    formControlName="code">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="date">{{ 'add.form.birth' | translate }}</label>
                    <input type="date" 
                    class="form-control" 
                    id="date"
                    formControlName="birthDate">
                </div>
            </div>
        </div>
        <label>{{ 'add.form.gender' | translate }}</label>
        <div class="form-check">
            <input class="form-check-input" 
            type="radio" 
            id="male" 
            value="male" 
            checked
            required
            formControlName="gender">
            <label class="form-check-label" for="male">
                {{ 'add.form.male' | translate }}
            </label>
        </div>
        <div class="form-check">
            <input 
            class="form-check-input" 
            type="radio" 
            id="female" 
            value="female"
            required
            formControlName="gender">
            <label class="form-check-label" for="female">
                {{ 'add.form.female' | translate }}
            </label>
        </div>
    
        <!-- <label>Gender</label>
        <div class="radio" *ngFor="let gender of genders">
            <label>
            <input
                style="margin-right: 10px;"
                type="radio"
                [value]="gender"
                formControlName="gender">{{ gender }}
            </label>
        </div> -->
    
        <div>
            <button class="btn btn-primary mt-3 w-25" [disabled]="myForm.invalid" type="submit" value="">{{ 'add.form.btn' | translate }}</button>
        </div>
    </form>
</div>
