<div class="search">
    <h1 class="pt-3 title">{{ 'search.title' | translate }}</h1>

    <form>
      <div class="row">
          <div class="col-6">
              <div class="form-group">
                  <label for="exampleFormControlInput1">{{ 'search.name' | translate }}</label>
                  <input type="text" 
                  class="form-control" 
                  id="exampleFormControlInput1" >
              </div>
          </div>
          <div class="col-6">
              <div class="form-group">
                  <label for="exampleFormControlSelect1">{{ 'search.department' | translate }}</label>
                  <select class="form-control" 
                  id="exampleFormControlSelect1"
                  formControlName="department">
                      <option value="HR">{{ 'search.hr' | translate }}</option>
                      <option value="IT">{{ 'search.it' | translate }}</option>
                      <option value="Sales">{{ 'search.sales' | translate }}</option>
                  </select>
              </div>
          </div>
      </div>
      <div>
          <button class="btn btn-primary mb-3 w-25" type="submit" value="">{{ 'search.btn' | translate }}</button>
      </div>
    </form>
    
    <table class="table table-striped">
        <thead>
        <tr>
          <th>{{ 'search.table.code' | translate }}</th>
          <th>{{ 'search.table.name' | translate }}</th>
          <th>{{ 'search.table.dept' | translate }}</th>
          <th>{{ 'search.table.birth' | translate }}</th>
          <th>{{ 'search.table.gender' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let emp of employees">
          <td>{{emp.code}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.department}}</td>
          <td>{{emp.birthDate | date}}</td>
          <td>{{emp.gender}}</td>
        </tr>
        </tbody>
    </table>
</div>

