
<!-- sideMenu -->
<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}" routerLink="/">{{'home.search' |translate}}</a>
            <a class="nav-link" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}" routerLink="/add">{{'home.add' |translate}}</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
</div>
<!-- sideMenu -->

<app-footer></app-footer>